<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Elements - Introspect by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">Assessment</a>
					<nav id="nav">
						
						<a href="elements.html">Home</a>
					</nav>
				</div>
			</header>
			<!-- <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a> -->

		<!-- Main -->
			<section id="main">
				<div class="inner">
					
					<section>
						
						<form method="post" action="#">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<div class="select-wrapper">
										<select name="demo-category" id="demo-category">
											<option value="">- Year & Batch -</option>
											<option value="1">Manufacturing</option>
											<option value="1">Shipping</option>
											<option value="1">Administration</option>
											<option value="1">Human Resources</option>
										</select>
									</div>
									<!-- <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" /> -->
								</div>
								<div class="6u$ 12u$(xsmall)">
										<div class="select-wrapper">
												<select name="demo-category" id="demo-category">
													<option value="">- Test -</option>
													<option value="1">Manufacturing</option>
													<option value="1">Shipping</option>
													<option value="1">Administration</option>
													<option value="1">Human Resources</option>
												</select>
											</div>
									<!-- <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" /> -->
								</div>
								
								
								
							</div>
						</form>
					</section>
					
					<!-- Table -->
						<section>
							
							
							<div class="table-wrapper">
								<table class="alt">
									<thead>
										<tr>
											<th>Rank</th>
											<th>Name</th>
											<th>Success Percentage</th>
											<th>Score</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Item 1</td>
											<td>Ante turpis integer aliquet porttitor.</td>
											<td>29.99</td>
											<td>29.99</td>
										</tr>
										<tr>
											<td>Item 2</td>
											<td>Vis ac commodo adipiscing arcu aliquet.</td>
											<td>19.99</td>
											<td>29.99</td>
										</tr>
										<tr>
											<td>Item 3</td>
											<td> Morbi faucibus arcu accumsan lorem.</td>
											<td>29.99</td>
											<td>29.99</td>
										</tr>
										<tr>
											<td>Item 4</td>
											<td>Vitae integer tempus condimentum.</td>
											<td>19.99</td>
											<td>29.99</td>
										</tr>
									
									</tbody>
									
								</table>
							</div>
						</section>

					

					<!-- Form -->
						

					
						

				</div>
			</section>

		<!-- Footer -->
			
		<!-- Scripts -->
			

	</body>
</html>