<section id="main">
    <div class="inner">
        
        <section>
            
            <form method="post" action="#">
                   
                      
                <div class="row uniform 50%">
                    <div class="6u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="demo-category" id="demo-category" (change)="selectOption($event.target.value)" [(ngModel)]="selectedyear">
                                <option>{{selectedyear}}</option>
                                <option value="2019">AU-2019</option>
                                <option value="2018">AU-2018</option>
                               
                            </select>
                        </div>
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                            <div class="select-wrapper">
                                    <select name="demo-category" id="demo-category" (change)="selectOption($event.target.value)" [(ngModel)]="selectedbatch">
                                        <option>{{selectedbatch}}</option>
                                        <option *ngFor="let t of batchlist"  value={{t}} >{{t}}</option>
                                       
                                    </select>
                                </div>
                       </div>

                       <div class="6u$ 12u$(xsmall)">
                            <div class="select-wrapper">
                                    <select name="demo-category" id="demo-category"(change)="selectOption($event.target.value)" [(ngModel)]="selectedtest">
                                        <option>{{selectedtest}}</option>
                                        <option *ngFor="let t of testlist">{{t}}</option>
                                       
                                    </select>
                                </div>
                       </div>
                    
                    
                    
                </div> 
            </form>
        </section>
        
        <!-- Table -->
            <section>
                
                
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Name</th>
                                <th>Success Percentage</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Item 1</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Item 2</td>
                                <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                <td>19.99</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Item 3</td>
                                <td> Morbi faucibus arcu accumsan lorem.</td>
                                <td>29.99</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Item 4</td>
                                <td>Vitae integer tempus condimentum.</td>
                                <td>19.99</td>
                                <td>29.99</td>
                            </tr>
                        
                        </tbody>
                        
                    </table>
                </div>
            </section>

        

        <!-- Form -->
            

        
            

    </div>
</section>










<!-- <p>selection works!</p>
<ul *ngFor= 'let year of years'>
    <li>
        {{year.name}}
        {{year.batch[0].bname}}
        </li>
        batch  
</ul> -->
<!-- <ul  *ngFor= 'let batch of years.batch'>
<li>
    {{batch.name}}
</li>>
</ul> -->
