<!--The content below is only a placeholder and can be replaced.-->

<html>
    <!DOCTYPE HTML>
    <head>
      <title>Assessment</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <!-- <link rel="stylesheet" href="app.component.css" /> -->
    </head>
    <body>
  
      <!-- Header -->
        <header id="header">
          <div class="inner">
            <a href="index.html" class="logo">Assessment</a>
            <nav id="nav">
              
              <a href="elements.html">Home</a>
            </nav>
          </div>
        </header>
        
      <!--<p>hiiiiii</p>
       <head>
        <title>Assessment</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
      </head>
      <body> -->
    
        <!-- Header -->
          <!-- <header id="header">
            <div class="inner">
              <a href="index.html" class="logo">Assessment</a>
              <nav id="nav">
                <a href="index.html">Home</a>
              </nav>
            </div>
          </header>
          </body> -->
          <app-selection></app-selection>
          </body>
</html>

<router-outlet></router-outlet>
